<header id="mainHeader">
    <div class="container">
        <nav>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </nav>
    </div>
</header>

<div class="container">

      <div class="col-md-12 mt-5">
          <div class="col-md-2 asset bg bg-light float-left frame border border-right-primary pt-5">
            <div class="col-md-12 items"><img src="../images/Gopher Jersey.png" class="img-thumbnail"></div>
          </div>
          <div class="col-md-5 player-1 bg bg-light float-left frame"><span class="helper"></span><img src="../images/BeerDad.png" class="dadImg"></div>
          <div class="col-md-5 player-2 bg bg-light float-left frame"><span class="helper"></span><img src="../images/BeerDad2.png"class="dadImg"></div>
      </div>

      <div class="col-md-12">
        <div class="text-center">
          <a href="#" class="btn btn-light mt-2" role="button" aria-pressed="true">Button 1</a>
          <a href="#" class="btn btn-light mt-2" role="button" aria-pressed="true">Button 2</a>
          <a href="#" class="btn btn-light mt-2" role="button" aria-pressed="true">Button 3</a>
        </div>
      </div>
  </div>