<form>
  <h1 class="title">My Dad can Beat up Your Dad</h1>
  <div>
    <div id="login">
      <h3>Already have an account?</h3>
      <button>Login</button>
    </div>

    <div id="createAccount">
      <h3>Don't have an account yet?</h3>
      <button>Create an account</button>
    </div>
  </div>
</form>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>