<div id="intro">
  <h1 class="title">Dad Souls</h1>
  <div>
    <div id="login">
      <h3>Welcome back</h3>
      <button id="loginButton">Login</button>
    </div>

    <div id="createAccount">
      <h3>Don't have an account yet?</h3>
      <button id="createButton">Create an account</button>
    </div>
  </div>
</div>

<div id="loginForm">
  <form>
    <h1 class="login">Login</h1>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
    <br><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <br><br>
    <button id="loginFormButton" type="submit">Login</button>
    <br>
    <button id="cancelLogButton" type="button">Cancel</button>
  </form>
</div>

<div id="createAccountForm">
  <form action="">
    <div>
      <h1 class="signUp">Create Account</h1>
      <label for="signup_uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="signup_uname" required>
      <br><br>
      <label for="signup_psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="signup_psw" required>
      <br><br>
      <div>
        <button id="signUpButton" type="submit">Sign Up</button>
        <br>
        <button id="cancelButton" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>


<div id="buffering">
  <h1>Finding dad to battle...</h1>
  <div id="bufferingIcon">
    <img src="https://media.giphy.com/media/OPQj1Zb3PakSpRSrHH/source.gif" id="football" alt="Football" height="100" width="100">
  </div>
  <button id="cancelBattleButton" type="button">Cancel</button>
</div>

<div id="createCharacter">
  <h1>Choose your Dad</h1>
  <div class="createCharGrid">
    
    
    




     



  </div>

  

  
  <button id="createCharBtn" type="submit">Create your Character</button>
</div>

<div id="battle">
  <nav>
    <h3>Health %</h3>
    <div>Timer</div>
    <div>Pause Menu</div>
  </nav>

  <h2>Character Name</h2>
  <h3>Level</h3>

  <div>Your Character Image</div>

  <div>Your Opponent's Image</div>

  <button>Pause</button>

  <div>Dad vs Dad</div>
</div>

<div id="store">

</div>

<div id="leaderboard">

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>