<div id="intro">
  <h1 class="title">Dad Souls</h1>
  <div>
    <div id="login">
      <h3>Welcome back</h3>
      <button id="loginButton"><span>Login</span></button>
    </div>

    <div id="createAccount">
      <h3>Don't have an account yet?</h3>
      <button id="createButton">Create an account</button>
    </div>
  </div>
</div>

<div id="loginFormPage">
  <form id="loginForm">
    <h1 class="login">Login</h1>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
    <br><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <br><br>
    <button id="loginFormButton" type="submit"><span>Login</span></button>
    <br>
    <button id="cancelLogButton" type="button">Cancel</button>
  </form>
</div>

<div id="createAcctFormPage">
  <form action="" id="createAcctForm">
    <div>
      <h1 class="signUp">Create an Account</h1>
      <label for="signup_uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="signup_uname" required>
      <br><br>
      <label for="signup_psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="signup_psw" required>
      <br><br>
      <div>
        <button id="signUpButton" type="submit">Sign Up</button>
        <br>
        <button id="cancelButton" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div id="buffering">
  <h1>Finding dad to battle...</h1>
  <div id="bufferingIcon">
    <img src="https://media.giphy.com/media/OPQj1Zb3PakSpRSrHH/source.gif" id="football" alt="Football" height="100"
      width="100">
  </div>
  <button id="cancelBattleButton" type="button">Cancel</button>
</div>

<div id="createCharacter">
  <form action="">
    <h2>Choose your Dad</h2>
    <div class="createCharGrid">
      <div class="one">
        <input type="radio" name="dad" value="coolDad" class="dadinput">
        <p>Cool Dad's armor is a sweater. His weapon is a box of rare Magic: The Gathering cards.</p>
        <img class="dadImg" src="/images/cooldad.jpeg" alt="image of a cool dad">
        <img class="armorImg" src="/images/CoolDadSweater.png" alt="a cool dad sweater">
        <img class="weaponImg" src="/images/cards.png" alt="pack of Magic the Gathering cards">
      </div>

      <div class="two">
        <input type="radio" name="dad" value="sportsDad" class="dadinput">
        <p>Sports Dad's armor is a Gopher jersey. His weapon is a football.</p>
        <img class="dadImg" src="/images/sports.jpeg" alt="image of a sports dad">
        <img class="armorImg" src="/images/Gopher Jersey.png" alt="a gopher jersey">
        <img class="weaponImg" src="/images/football.png" alt="football">
      </div>

      <div class="three">
        <input type="radio" name="dad" value="couchDad" class="dadinput">
        <p>Couch Potato Dad's armor is a tank top. His weapon is a beer can.</p>
        <img class="dadImg" src="/images/bad-dad.jpeg" alt="a couch potato dad">
        <img class="armorImg" src="/images/TankTop.png" alt="tank top">
        <img class="weaponImg" src="/images/beercan.png" alt="empty beer can">
      </div>
    </div>
    <button id="createCharBtn" type="submit">Create your Character</button><br>
    <button id="cancelCreateButton" type="button">Cancel</button>
  </form>
</div>

<div id="battle">
  <nav>
    <h3>Health %</h3>
    <div>Timer</div>
    <div>Pause Menu</div>
  </nav>

  <h2>Character Name</h2>
  <h3>Level</h3>

  <div>Your Character Image</div>

  <div>Your Opponent's Image</div>

  <button>Pause</button>

  <div>Dad vs Dad</div>
</div>

<div id="store">

</div>

<div id="leaderboard">

</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>