* {
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #48556b;
  font-size: 20px;
  text-align: center;
}

.title,
.login,
.signUp {
  font-family: "Do Hyeon", sans-serif;
  font-size: 75px;
}

#loginFormPage,
#createAccountForm,
#buffering,
#createCharacter,
#battle {
  display: none;
}

h1 {
  padding: 80px 0 0;
}

#intro,
#loginFormPage,
#createAccountForm,
#buffering,
#createCharacter {
  color: #f4fff8;
}

.title {
  text-align: center;
}

#loginButton,
#createButton,
#loginFormButton,
#signUpButton,
#cancelButton,
#cancelBattleButton,
#cancelLogButton,
#createCharBtn,
#cancelCreateButton {
  font-family: "Do Hyeon", sans-serif;
  background-color: #80afaa;
  box-shadow: 2px 2px #437066;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f4fff8;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#psw,
#uname,
#signup_uname,
#signup_psw {
  font-family: "Do Hyeon", sans-serif;
  border-radius: 4px;
  padding: 10px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
}

#intro,
#loginFormPage,
#createAccountForm,
#buffering {
  margin-bottom: 10px;
}

#bufferingIcon {
  margin-bottom: 50px;
  padding: 20px;
}

.one,
.two,
.three {
  border-radius: 8px;
  margin: 50px;
  background-color: #5f6f8c;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.weaponImg {
  width: 200px;
  float: right;
  margin-right: 50px;
}

.dadImg {
  float: left;
  margin-left: 40px;
}

.armorImg {
  width: 200px;
}

.dadinput {
  margin-top: 30px;
}
