* {
  box-sizing: border-box;
}

body {
  font-family: "Do Hyeon", sans-serif;
  letter-spacing: 0.5px;
  background-color: #48556b;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(
    141deg,
    #636e81 0%,
    #48556b 51%,
    #3a4558 90%
  );
}

.title,
.login,
.signUp {
  font-family: "Do Hyeon", sans-serif;
  font-size: 75px;
}

#loginFormPage,
#createAcctFormPage,
#buffering,
#createCharacter,
#accountPage,
#buyWeaponPop,
#buyArmorPop,
#settingsPop,
#myInventoryPop,
#battlePage {
  display: none;
}

h1 {
  padding: 80px 0 0;
  color: antiquewhite;
}

#intro,
#loginFormPage,
#createAcctFormPage,
#buffering,
#createCharacter {
  color: antiquewhite;
}

.title {
  text-align: center;
}

#loginButton,
#createButton,
#loginFormButton,
#signUpButton,
#cancelButton,
#cancelBattleButton,
#cancelLogButton,
#createCharBtn,
#cancelCreateButton,
#battleButton,
#cancelWeaponBtn,
#cancelArmorBtn,
#confirmChangeBtn,
#cancelSettingsBtn,
#closeInventory,
#attackButton,
#defendButton,
#magicButton {
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  background-color: #80afaa;
  box-shadow: 2px 2px #437066;
  border-radius: 4px;
  padding: 10px 20px;
  color: antiquewhite;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
#createCharBtn {
  margin-top: 20px;
}
#loginButton:hover,
#createButton:hover,
#loginFormButton:hover,
#signUpButton:hover,
#cancelButton:hover,
#cancelBattleButton:hover,
#cancelLogButton:hover,
#createCharBtn:hover,
#cancelCreateButton:hover {
  background-color: #558d87;
}

#loginFormButton span,
#loginButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#loginFormButton span:after,
#loginButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#loginFormButton:hover span,
#loginButton:hover span {
  padding-right: 25px;
}
#loginFormButton:hover span:after,
#loginButton:hover span:after {
  opacity: 1;
  right: 0;
}

button:active {
  background-color: #80afaa;
  box-shadow: 2px 2px #437066;
  transform: translateY(4px);
}

#psw,
#uname,
#olduname,
#signup_uname,
#signup_psw,
#email,
#newuname,
#newpsw {
  font-family: "Do Hyeon", sans-serif;
  border-radius: 4px;
  padding: 10px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
}

#intro,
#loginFormPage,
#createAcctFormPage,
#buffering {
  margin-bottom: 10px;
}

#bufferingIcon {
  margin-bottom: 50px;
  padding: 20px;
}

.one,
.two,
.three {
  border-radius: 8px;
  background-color: #5f6f8c;
}

.one {
  height: 300px;
}

h2 {
  margin-top: 20px;
  color: antiquewhite;
  text-align: center;
}

p {
  text-align: center;
}

.weaponImg {
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.dadImg {
  margin-left: 40px;
  width: 200px;
  height: 200px;
}
.dadImg2 {
  width: 200px;
  height: 200px;
}
.armorImg {
  width: 200px;
  height: 200px;
}

.dadinput {
  margin-top: 30px;
}

#coinDisplay {
  position: absolute;
  right: 50px;
  top: 100px;
  color: antiquewhite;
}

#coinImg {
  width: 100px;
}

#mySidenav a:hover {
  left: 0;
}

#mySidenav,
#inventory,
#buyWeapons,
#buyArmor,
#settings {
  position: absolute;
  left: 10px;
  transition: 0.3s;
  padding: 20px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
  border-radius: 5px;
}

#inventory {
  top: 20px;
  background-color: #80afaa;
  border: none;
  box-shadow: 2px 2px #437066;
  cursor: pointer;
  font-family: "Do Hyeon", sans-serif;
}

#buyWeapons {
  top: 100px;
  background-color: #80afaa;
  border: none;
  box-shadow: 2px 2px #437066;
  cursor: pointer;
  font-family: "Do Hyeon", sans-serif;
}

#buyArmor {
  top: 180px;
  background-color: #80afaa;
  border: none;
  box-shadow: 2px 2px #437066;
  cursor: pointer;
  font-family: "Do Hyeon", sans-serif;
}

#settings {
  top: 120px;
  background-color: #80afaa;
  border: none;
  box-shadow: 2px 2px #437066;
  cursor: pointer;
  font-family: "Do Hyeon", sans-serif;
}

#buyWeaponPop {
  position: absolute;
  left: 100px;
  width: 450px;
  height: 250px;
  background-color: #333c4c;
  border-radius: 6px;
  color: antiquewhite;
}

#buyArmorPop {
  position: absolute;
  left: 100px;
  width: 450px;
  height: 250px;
  background-color: #333c4c;
  border-radius: 6px;
  color: antiquewhite;
}

#settingsPop {
  position: absolute;
  left: 100px;
  width: 450px;
  height: 420px;
  background-color: #333c4c;
  border-radius: 6px;
  color: antiquewhite;
}

#myInventoryPop {
  position: absolute;
  left: 100px;
  width: 500px;
  height: 320px;
  background-color: #333c4c;
  border-radius: 6px;
  color: antiquewhite;
}

.topline {
  margin-top: 20px;
}

#battleButton {
  position: absolute;
  right: 50px;
  top: 500px;
}

header,
nav,
footer {
  display: block;
}

#mainHeader {
  top: 0;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  background-color: #333c4c;
  color: antiquewhite;
  padding-bottom: 20px;
}

#healthPoints {
  float: left;
  margin-left: 30px;
}
#healthPoints2 {
  float: right;
  margin-right: 30px;
}
#currentArmor {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 100px;
}

#currentWeapon {
  position: absolute;
  top: 400px;
  left: 100px;
  width: 100px;
}

@media only screen and (max-width: 780px) {
  .weaponImg {
    width: 200px;
    height: 200px;
  }
  .armorImg {
    width: 200px;
    height: 200px;
  }
  .dadImg {
    width: 200px;
    height: 200px;
  }
}
