#loginButton,
#createButton,
#loginFormButton,
#signUpButton,
#cancelButton {
  background-color: #e8823a;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fffffa;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}